/*.footer-copy {
	background: #ffffff;
	color: #242424;
	font-size: 13px;
	text-align: center;
	padding:15px 0px;
}*/
.footer-copy p {
	/* margin-bottom:-50px; */
	/* align-items: last baseline; */
	display: table-cell;
  	vertical-align: bottom;
}